.titre{
	color:white;
		padding: 5px;
		font-size: 20px
		line-height: 35px; 
		display: inline-block; 
		height: 35px;
		margin-right: 10px; 
		text-decoration: underline;
	}
.logo{
	margin-top: 1%;
	float: left;
	text-decoration: none;
	display: inline-block;
	width: 4%; 
	border: 2px solid white;
    border-radius: 25px;
    margin-right: 2%;
}
body{
	background-image: url(../res/fond.jpg); 
	background-size:  cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
}
.lien-menu{
	
		margin-top: 0%;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 18px;
		display: inline-block; 
		background-color: grey;  
		float: center;
		
}
.titre-menu{
 color: white;
}
.titre-menu:hover {
	color : blue;

}
.titre-menu:active {
	border-bottom: 2px blue;
	color: blue;
}

.pic{
	width: 30%;
	height: 10%;
	border-radius: 70px;
	margin: 0 auto;
}

.word_space {word-spacing: 5px;}
a{
	text-decoration: none;
}
#nav-bar{
	width: 100%;
	padding-left: 7%;
	margin-top: 0%;
}
#pad{
	padding-left: 0%;
	border: 0%;
	background-color:grey;

}
#central-title{
 font-size: 250%;
}

.equ{
	color:blue;
	text-decoration: underline;
}
.title{
	color:white;

	
}
.col{
	color:white;
}
.log{
	width: 5%;
	height: 5%;
	margin: 0 auto;
}